<ol class="breadcrumb">
  <li><%= link_to "Back to List of Products", admin_products_path %></li>
  <li><%= link_to @product.name, admin_product_path(@product) %></li>
  <li class="active">Product: <%= @product.name %></li>
</ol>

<h1>Use this form to edit existing product information:</h1>
  <br><br>

<%= render 'form' %>
