<table>
<h1>Product: <%= @product.id %></h1>


  <tr>

    <th><%= @product.name %></th>
    <th><%= @product.price %></th>


  </tr>

</table>

<%= link_to "Back to List of Products", admin_products_path %>





