CustomerMailer#verify

<h2><%= @customer.name %>, you have signed up as a Customer at Betastore - awesome!</h2>

<p>
  Click the link below within the next 24 hours to verify your account:
  <%= link_to "Verify Customer Account", verify_customer_url(@token) %>
</p>
