<h1>Look below for cool products:</h1>

<ul>
  <% for product in @products %>
    <li><%= product.name %></li>
    <li><%= image_tag product.image_url, alt: product.image_url %></li>
  <% end %>
</ul>
